@charset "UTF-8";
@import url(cover.css);
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url(main/main.css);
@import url(main/login.css);

body {
	background-color : #799D9F;
	color : white;
	margin : 0px;
	padding : 0px;
}
