@charset "UTF-8";


.login-area {
	/* 부트스트랩 적용하면서 box-size 적용돼서 마진, 패딩으로 위치 조정해야함*/

}

.login-area_box {
	margin: 0 auto;
	margin-top: 100px;
	width: 350px;
	height: 300px;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-input{
	display: block;
	width: 235px;
	height: 40px;
	margin-top : 20px;
	border-radius: 4px;
	border : none;
}

.login-input2 {
	padding-left: 7px;
	background-color: darkgray;
}

.login_text{
	font-size: 34px;
}


.login_btn {
	cursor: pointer;
	background-color: black;
	color : white;
}

.login_btn:hover {
	background-color: #766F70;
}
