@charset "UTF-8";

.main-img_area {
	text-align: center;
	background-color: #F9F9F9;
}

.main-img_area img{
	width: 500px;
	height: 450px;
	border-left : none;
	border-right: none;
}

/* 게시글 관련 css */
.main-contents-area {
	display : flex;
	justify-content: space-around;
	align-content: center;
	margin: 25px 10px 10px 10px;
	flex-wrap: wrap;
	
}

.contents-box {
	width: 300px;
	height: 350px;
}

.contents-img img {
	width: 240px;
	height: 240px;
	border: 1px solid gray;
	border-radius: 6px;
	box-shadow: 5px 5px 5px 5px #766F70;
}

/* 새 게시글 헤더 */

.h-text-area {
	position: relative;
	left: 25px;
}

.h-text-area .h-text-h2 {
	margin-bottom : 3px;
}

.h-text-span {
	padding-left: 2px;
	color: #766F70;
}

.contents-text {
	margin-top : 5px;
}

/* 게시글 a태그 스타일 수정 */
.contents-text-a{
	color : white;
	text-decoration: none;
}




